<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
  </settings>

  <providers resource="providers.config"/>

  <database>
    <provider name="sqlServer2.0"/>
    <dataSource name="iBatisNet" connectionString="server=fts2016\sql2008;database=inetadmin;uid=sa;pwd=Fts82731191"/>
  </database>

  <sqlMaps>

    <sqlMap resource="Config/SqlMappers/TUSER.xml"/>
    <sqlMap resource="Config/SqlMappers/VR_SITES.xml"/>
    <sqlMap resource="Config/SqlMappers/VR_VISIT.xml"/>    
  </sqlMaps>
</sqlMapConfig>
